@font-face {
    font-family: 'Gerhana Matahari';
    src:
        url('font/GerhanaMatahari.woff2') format('woff2'),
        url('font/GerhanaMatahari.woff') format('woff');
    font-weight: 400;
}

:root {
    font-family: 'Gerhana Matahari', sans-serif;

    --background-color: #303030;
    --font-color: #f0f0f0;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--background-color);
    color: var(--font-color);
    font-size: 16px;

    display: flex;
    height: 100vh;
}

.page-header {
    background-image: url('img/eclipse-image-flipped.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: -10vw;

    width: 450px;
    flex-shrink: 0;

    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.title-content {
    width: 100%;
    background-color: #30303090;
    padding: 15px 0;
    margin: auto;
}

.title img {
    width: 75px;
    margin-bottom: 5px;
}

.title h1 {
    font-size: 32px;
    font-weight: 600;
    letter-spacing: 1px;
}

.subtitle {
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 8px;
    text-transform: uppercase;
}

.sub-date {
    margin-top: 15px;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 1px;
}

.image-credits {
    font-size: 10px;
    margin-bottom: 10px;
}

.main-content {
    min-width: calc(1280px - 450px);
}